.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  padding: 1rem;
}

.navbar-logo {
  width: 17%;
  display: flex;
  justify-content: center;
}

.navbar-logo img {
  position: relative;
  width: 35%;
}

.navbar-menu {
  justify-content: center;
  align-items: center;
  width: 60%;
}

li {
  list-style: none;
}

.navbar-itens {
  display: flex;
  padding: 0;
  color: aqua;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 300ms;
}

.navbar-list:hover ul li {
  display: block;
}

.navbar-itens li ul {
  position: absolute;
  left: 0;
  border-radius: 15px;
  background-color: blueviolet;
  width: 150px;
}

.navbar-itens li ul li {
  position: relative;
  left: -40px;
  padding: 0.5rem;
  display: none;
  font-size: 1.2rem;
}

.navbar-itens li ul li:hover {
  color: palevioletred;
}

.car {
  width: 17%;
}

.car-dados {
  display: flex;
}

.carrinho {
  font-size: 7rem;
  width: 80px;
  height: 40px;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}

.qtd {
  position: relative;
  right: 20px;
  bottom: -35px;
  color: white;
  background: rgb(0, 183, 255);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0.4rem;
  font-weight: 400;
}

.car-texto {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: end;
  padding-right: 1rem;
}

.car-nome {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.1rem;
}

.preco {
  color: rgb(0, 255, 76);
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 6rem;
}

.logout {
  width: 17%;
  color: aqua;
}

.logout span {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.entrar-logout:hover{
    color: aqua;
}

.cadastrar-logout:hover{
    color: rgb(45, 255, 45);
}