.search {
  width: 100%;
  display: flex;
  border: 2px solid #7109b762;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  align-items: center;
  padding: 0;
  padding-top: 0.2rem;
  position: relative;
}

.search-input {
  width: 100%;
  border: none;
  outline: 0;
  transition: all 300ms;
  color: rgb(0, 0, 0);
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
}

.search-input::placeholder {
  color: grey;
  transition: all 300ms;
}

.search-input:focus {
  font-size: 1rem;
}

.search-lupa {
  width: 5%;
}


.FaSearch {
  color: #7209b7;
  padding: 0.3rem;
  font-size: 1.8rem;
  border-radius: 5px;
}

.labe-sh{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 15px);
    left: 35px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    padding: 2px;
    box-sizing: border-box;
}

.search-input:focus + .labe-sh{
    background-color: white;
  font-size: 10px;
  top: -14px;
  color: #3951b2;
}