.desconto{
    background-color: var(--roxo);
    text-align: center;
    color: white;
    padding: .8rem;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.desconto strong{
    color: var(--rosa);
    font-size: 2rem;
}

.servicos-mini{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}

.servicos h3{
    color: #7109b7d7;
    padding: 2rem 0 0 2rem;
}

.container-principais{
    background-color: var(--roxo);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}